<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SDN::top_level" title="SDN" module="SDN_Luba" sortOrder="9999" resource="SDN_Luba::Product"/>
        <add id="SDN_Luba::sdn_luba_product" title="Люба Яша" module="SDN_Luba" sortOrder="9999"
             resource="SDN_Luba::sdn_luba_luba" parent="SDN::top_level" action="sdn_luba/product/index"/>
    </menu>
</config>
