<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="SDN\Luba\Api\ProductRepositoryInterface" type="SDN\Luba\Model\ProductRepository"/>
	<preference for="SDN\Luba\Api\Data\ProductInterface" type="SDN\Luba\Model\Product"/>
	<preference for="SDN\Luba\Api\Data\ProductSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="SDN\Luba\Model\ResourceModel\Product\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">sdn_luba_product</argument>
			<argument name="resourceModel" xsi:type="string">SDN\Luba\Model\ResourceModel\Product\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="sdn_luba_product_listing_data_source" xsi:type="string">SDN\Luba\Model\ResourceModel\Product\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
